.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  display: inline-block;
  border-radius: 4px;
  border-color: var(--accent-color);
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
  transition: background-color var(--animation);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
