.guide {
  outline: 1px solid red;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-shrink: 2;
    width: 50%;
  }

  @media screen and (min-width: 1600px) {
    flex-shrink: 0;
    width: auto;
    align-items: flex-start;
  }

  &__address {
    color: var(--primary-white-color);
    font-style: normal;
    display: inline-block;
    text-align: center;

    @media screen and (min-width: 768px) {
      font-size: 14px;
    }

    @media screen and (min-width: 1600px) {
      text-align: start;
    }
  }

  &__link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    display: block;
    margin-top: 8px;

    @media screen and (min-width: 768px) {
      font-size: 14px;
    }
  }
}
