.follow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // margin-left: 93px;

  // padding-bottom: 94px;

  @media screen and (min-width: 768px) {
    width: 100%;
  }

  @media screen and (min-width: 1600px) {
    width: auto;
    align-items: flex-start;
    padding-top: 50px;
  }

  &__input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 15px;
    width: 100%;
    height: 50px;
    color: var(--primary-white-color);
    background-color: var(--bg-dark-color);
    margin-bottom: 20px;

    @media screen and (min-width: 1600px) {
      width: 358px;
    }

    &:focus {
      border-color: var(--accent-color);
    }
  }

  &__form {
    @media screen and (min-width: 1600px) {
      display: flex;
      gap: 12px;
    }
  }

  &__button {
    display: flex;
    gap: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;

    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    letter-spacing: 0.06em;

    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
  }
}
