.footer {
  background-color: var(--bg-dark-color);

  & .container {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }

    @media screen and (min-width: 1600px) {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }

  &__logo {
    color: var(--primary-white-color);

    display: inline-block;
    padding-bottom: 20px;
    text-align: center;
  }

  &__webs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;

    @media screen and (min-width: 768px) {
      width: 50%;
    }

    @media screen and (min-width: 1600px) {
      width: auto;
    }
  }

  &__titel {
    color: var(--primary-white-color);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 0;

    @media screen and (min-width: 768px) {
      font-size: 14px;
    }

    @media screen and (min-width: 1600px) {
      text-align: start;
    }
  }
}
