.webs {
  display: flex;
  height: 44px;
  gap: 10px;
  justify-content: center;
  align-items: center;

  &__item {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    cursor: pointer;

    &:hover,
    &:focus {
      background-color: var(--accent-color);
      transition: background-color var(--animation);
    }
  }
}
