.nav {
  @media screen and (min-width: 768px) {
    // display: flex;
    // align-items: center;
  }

  &__list {
    margin-left: 40px;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      align-items: flex-end;

      font-size: 14px;
      margin-left: 88px;
    }
  }

  &__item {
    display: block;
    // padding-top: 32px;

    @media screen and (min-width: 768px) {
      margin-right: 50px;
      // margin-bottom: 28px;
    }

    &:last-child {
      margin-bottom: 0;

      @media screen and (min-width: 768px) {
        margin-right: 0;
        // margin-bottom: 28px;
      }
    }
  }

  &__link {
    color: var(--title-text-color);
    text-decoration: none;

    &:hover,
    &:focus {
      color: var(--accent-color);
      transition: color var(--animation);
    }

    .nav__item:hover & {
      color: var(--accent-color);
      transition: color var(--animation);
    }

    @media screen and (min-width: 768px) {
      // margin-bottom: 28px;
    }
  }
}

/* Или два кортких варианта для очистки крайних марджинов последних елементов
Делается обязательно!!! */

/* .nav__item:not(:last-child) {
  margin-right: 50px;
} */

/* .nav__item + .item {
  margin-left: 50px;
} */
