.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 450px;
  max-height: 100vh;
  overflow-y: auto;

  @media screen and (min-width: 1600px) {
    width: 528px;
  }

  background-color: var(--primary-white-color);

  display: flex;
  justify-content: end;
  align-items: start;
}
