:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --accent-color-hover: #188ce8;
  --primary-white-color: #ffffff;
  --primary-black-color: rgb(0, 0, 0);
  --bg-dark-color: #2f303a;
  --bg-light-color: #f5f4fa;
  --border-color: #afb1b8;
  --border-color-portfolio: #eeeeee;
  --border-color-header: #ececec;

  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
