.agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;

  margin-top: 20px;
  margin-bottom: 31px;

  @media screen and (min-width: 1600px) {
    font-size: 13px;
    line-height: 1.34;
  }

  &__text {
    @media screen and (min-width: 1600px) {
    }
  }

  &__link {
    margin-left: 2px;
    color: var(--accent-color);
  }

  &__icon {
    display: inline-block;
    width: 16px;
    height: 15px;

    border: 2px solid var(--title-text-color);
    border-radius: 2px;

    margin-right: 7px;

    .agreement__checkbox:checked + & {
      background-color: var(--accent-color);
      background-image: url(../images/icon_check.svg);
      background-size: contain;
      background-origin: border-box;
      border-color: var(--accent-color);
    }
  }
}
