.agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;

  margin-top: 20px;
  margin-bottom: 31px;

  &__link {
    margin-left: 2px;
    color: var(--accent-color);
  }

  &__icon {
    display: inline-block;
    width: 16px;
    height: 15px;

    border: 2px solid var(--title-text-color);
    border-radius: 2px;

    margin-right: 7px;

    .agreement__checkbox:checked + & {
      background-color: var(--accent-color);
      background-image: url(../images/icon_check.svg);
      background-size: contain;
      background-origin: border-box;
      border-color: var(--accent-color);
    }
  }
}

/* .agreement__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute;
  /* width: 100%; */
