.form {
  position: relative;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;

  &__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  &__label {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
  }

  &__input {
    margin: 0;
    width: 100%;
    padding: 6px 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 35px;
    transition: border-color var(--animation);
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--title-text-color);
    margin-bottom: 12px;
  }

  &__thumb {
    position: relative;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill var(--animation);

    .form__input:focus ~ & {
      fill: var(--accent-color);
    }
  }
}

.form__input:focus,
.form__comment:focus {
  border-color: var(--accent-color);
}
