.hero {
  background-color: var(--bg-dark-color);
  letter-spacing: 0.06em;
  text-align: center;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/Headerimg.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-retio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/Headerimg@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/HeaderimgTablet.jpg);

    @media (min-device-pixel-retio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/HeaderimgTablet@2x.jpg);
    }
  }

  @media screen and (min-width: 1600px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/ImgDesktop.jpg);

    @media (min-device-pixel-retio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/ImgDesktop@2x.jpg);
    }
  }

  &__title {
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.58;

    padding-top: 118px;
    margin-top: 0;
    margin-bottom: 30px;
    text-transform: uppercase;

    @media screen and (min-width: 1600px) {
      font-size: 44px;
      line-height: 1.36;
    }
  }

  &__button {
    margin-bottom: 118px;

    @media screen and (min-width: 1600px) {
      margin-bottom: 200px;
    }
  }
}
