.thumb {
  position: relative;
}

.works {
  @media (max-width: 1599px) {
    display: none;
  }

  &__title {
    color: var(--title-text-color);
  }
  &__list {
    display: flex;
    gap: 30px;
    padding-bottom: 94px;
  }

  &__label {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 27px;
    text-transform: uppercase;
  }
}
